<div class="container mt-5">
  <h1 class="text-dark fw-bold mb-4">Technologies</h1>

  <mat-card class="mb-5 bg-dark text-white">
    <mat-card-header>
      <mat-card-title>
        <h3 class="text-white">Knowledge of Languages</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-dark table-striped table-hover text-center">
        <tr>
          <td class="p-3"><img src="assets/java.png" alt="Java" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/py.png" alt="Python" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/js.png" alt="JavaScript" width="60" height="60" /></td>
        </tr>
        <tr>
          <td class="p-3"><img src="assets/html.png" alt="HTML" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/css.png" alt="CSS" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/sass.png" alt="SASS" width="60" height="60" /></td>
        </tr>
        <tr>
          <td class="p-3"><img src="assets/bootstrap.png" alt="Bootstrap" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/sql.png" alt="SQL" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/springboot.png" alt="Spring Boot" width="60" height="60" /></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5 bg-dark text-white">
    <mat-card-header>
      <mat-card-title>
        <h3 class="text-white">Technologies Used</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-dark table-striped table-hover text-center">
        <tr>
          <td class="p-3"><img src="assets/intelliJ.png" alt="IntelliJ" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/vscode.png" alt="VSCode" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/pycharm.png" alt="PyCharm" width="60" height="60" /></td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="d-flex justify-content-center gap-5 py-3">
              <img src="assets/github1.png" alt="GitHub" width="60" height="60" />
              <img src="assets/git.png" alt="Git" width="60" height="60" />
            </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5 bg-dark text-white">
    <mat-card-header>
      <mat-card-title>
        <h3 class="text-white">Operating Systems</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="table table-dark table-striped table-hover text-center">
        <tr>
          <td class="p-3"><img src="assets/windows.png" alt="Windows" width="60" height="60" /></td>
          <td class="p-3"><img src="assets/ubuntu.png" alt="Ubuntu" width="60" height="60" /></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div class="container-fluid align-items-center col-8 mt-5" id="contact">
  <h1 class="text-dark fw-bold">Contact me</h1>
  <p class="text-dark">If you'd like to know more about me or just want to connect, feel free to contact me!</p>
  <div class="container-fluid row align-items-center text-white mt-3">
    <div class="container-fluid col p-3 text-center">
      <a href="mailto:adrianre.dev@gmail.com" class="link-offset-2 link-offset-3-hover text-white text-decoration-none">
        <h4 class="text-dark">drianre.dev&#64;gmail.com</h4>
      </a>
    </div>
    <div class="container-fluid col align-items-center p-3 text-center text-dark">
      <a href="https://x.com/Adrii0906" class="text-dark me-3"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
      </a>
      <a href="https://www.linkedin.com/in/adri%C3%A1n-ra%C3%B1a-b3a517356/" class="text-dark me-3"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>
      </a>
      <a href="https://github.com/Adrii-0906" class="text-dark"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pets"></mat-icon>
      </a>
    </div>
    <div class="container-fluid col align-items-center p-3 text-center">
      <h4 class="text-dark">623116883</h4>
    </div>
  </div>
</div>



