.menu {
  background-color: lightblue;
}

.title {
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  margin-right: 20rem;
}

button {
  margin-right: 5rem;
  font-size: 1.5rem;
  color: white;
}
