<mat-toolbar class="mat-elevation-z4 menu">
  <div class="toolbar-content">
    <span class="title">Software Developer</span>
    <span class="spacer"></span>

    <button mat-stroked-button routerLink="/home">Home</button>
    <button mat-stroked-button routerLink="/formation-experience">Formation & Experience</button>
    <button mat-stroked-button routerLink="/technologies">Technologies</button>
    <button mat-button><a class="nav-link btn btn-link" href="#contact">Contact me</a></button>
  </div>
</mat-toolbar>
