<div class="container py-5 text-white">

  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <img src="assets/adri.png" class="rounded-circle" width="200" height="200" alt="Adrián Raña Escote">
      </div>

      <div class="col-md-8">
        <h2 class="fw-bold text-dark" id="nombre">Adrián Raña Escote</h2>
        <p class="lead text-dark">
          Programming student passionate about Java, problem-solving and continuous learning in software development.
        </p>
      </div>
    </div>
  </div>

  <hr class="mt-5 text-dark">

  <h2 class="fw-bold mb-3">About Me</h2>
  <mat-accordion multi class="mb-5">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Personal Introduction</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Hello, I'm Adrián Raña Escote, a programming student with a great passion for solving complex problems and learning new technologies...</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Motivation and Philosophy</mat-panel-title>
      </mat-expansion-panel-header>
      <p>My motivation comes from the satisfaction I feel when overcoming challenges during the programming process...</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Featured Projects</mat-panel-title>
      </mat-expansion-panel-header>
      <p>I am passionate about impactful projects that require creative and structured thinking...</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Goals and Collaboration</mat-panel-title>
      </mat-expansion-panel-header>
      <p>I am always open to collaborating, learning from others, and contributing my knowledge to shared goals...</p>
    </mat-expansion-panel>
  </mat-accordion>

  <h2 class="fw-bold text-dark mt-5">Download CV</h2>
  <p class="text-dark">Let’s Dive Into My Work! You can download my resume below:</p>
  <a href="CV-curriculum.pdf" target="_blank" download>
    <button mat-raised-button color="primary">
      <mat-icon class="me-2">cloud_download</mat-icon> Download CV
    </button>
  </a>

  <hr class="mt-5 text-dark">

  <div class="container-fluid align-items-center col-8 mt-5" id="contact">
    <h1 class="text-dark fw-bold">Contact me</h1>
    <p class="text-dark">If you'd like to know more about me or just want to connect, feel free to contact me!</p>
    <div class="container-fluid row align-items-center text-white mt-3">
      <div class="container-fluid col p-3 text-center">
        <a href="mailto:adrianre.dev@gmail.com" class="link-offset-2 link-offset-3-hover text-white text-decoration-none">
          <h4 class="text-dark">drianre.dev&#64;gmail.com</h4>
        </a>
      </div>
      <div class="container-fluid col align-items-center p-3 text-center text-dark">
        <a href="https://x.com/Adrii0906" class="text-dark me-3"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/adri%C3%A1n-ra%C3%B1a-b3a517356/" class="text-dark me-3"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>
        </a>
        <a href="https://github.com/Adrii-0906" class="text-dark"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pets"></mat-icon>
          </a>
      </div>
      <div class="container-fluid col align-items-center p-3 text-center">
        <h4 class="text-dark">623116883</h4>
      </div>
    </div>
  </div>
</div>

